.landing{
    max-width: 100vw;
    height: 558px;
    position: relative;
    margin-bottom: var(--main-padding);
}
.landing img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B6EA894;

}
.landing .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: var(--font-color);
    margin-top: 20px;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
@media(min-width: 992px){
    .landing .info {
        max-width: 700px;
    }
}
@media (max-width: 768px) {
    .landing .info {
        width: 325px;
    }
    .landing .button{
        padding: 15px  20px 15px!important;
        font-size: 16px !important;

    }
}
.landing .desc{
    max-width:600px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    text-align: justify;
    color: var(--font-color);
    margin-bottom: 60px;
    margin-left: 40px;
}
@media (max-width:768px) {
    .landing .desc{
        font-size: 28px;
        margin-bottom: 50px;
        line-height: 1.25;
    }
}
.landing .title{
    color: var(--font-color);
    text-align: center;
}

/* resp */


@media (max-width:768px) {

    .landing .title{
        font-size: 26px;
    }

    .landing .desc{
        font-size: 20px;
        margin-bottom: 25px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 40px;
        margin-left: unset;
    }
}



