/* card.css */
.chart {
    width: 100%;
    max-width: 300px; 
    position: relative;
    border-radius: 5%;
    margin: 0 auto; 
}

.chart img {
    width: 100%;
    border-radius: 5%;
}

.chart-desc, .chart-desc-w {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .chart-desc, .chart-desc-w {
        font-size: 1em;
    }

    .chart-desc-num, .chart-desc-num-w {
        font-size: 1em;
    }
}
