.contribution {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: white;
}

@media (max-width:768px) {
    .contribution .title{
            font-size: 30px;
        }
    }
.contribution .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
@media (min-width:1200px) {
    .contribution .container{
        width: 850px;
    }
}

.contribution .contricard {
    box-shadow: 0px 6px 16px 0px #0000001A;
    margin-top: 40px;
    padding: 40px;
}
.contribution .contricard img{
    width: 100%;
}
.contribution .roze1{
    position: absolute;
    top: -180px;
    right: -170px;

}
.contribution .yellow1{
    position: absolute;
    left: -210px;
    bottom: 20px;
} 