
.navs {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: var(--main-color);
}

.navs .bottom-nav {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.navs .bottom-nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:768px) {
    .navs .bottom-nav {
        padding-top: 10px;
        padding-bottom: 5px;
        height: 50px;
    }
    .navs .bottom-nav .logo img{
        width: 150px;
    }
}
.navs .bottom-nav .nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1000000000;
    position: relative;
}
.navs .bottom-nav .close-bar {
    display: none;
}

.navs .bottom-nav .nav-items li {
    color:white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
}
.navs .bottom-nav .nav-items li a{
    color:white;

}


.navs .bottom-nav .nav-items li.dropdown {
    position: relative;
}
.navs .bottom-nav .nav-items li.dropdown .dropdown-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navs .bottom-nav .nav-items li.dropdown .dropdown-btn svg {
    color: white;
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

.navs .bottom-nav .nav-items .dropdown .dropdown-content {
    position: absolute;
    top: 130%;
    left: 0;
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    display: none;
    border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navs .bottom-nav .nav-items .dropdown .dropdown-content li a {
    color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.navs .bottom-nav .nav-items .dropdown .dropdown-content li a:hover {
    color:var(--third-color);
}

.navs .bottom-nav .nav-items .dropdown .dropdown-content.active {
    top: 110%;
    display: block;
    z-index: 10000000000000;

}

.navs .bottom-nav .nav-items a {
    transition: all var(--main-transition);
    -webkit-transition: all var(--main-transition);
    -moz-transition: all var(--main-transition);
    -ms-transition: all var(--main-transition);
    -o-transition: all var(--main-transition);
}

.navs .bottom-nav .nav-items a:hover,
.navs .bottom-nav .nav-items a.active{
    color: var(--third-color);

}

.navs .bottom-nav .menu-icon {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
@media (min-width: 768px){
    .navs .bottom-nav .menu-icon {
        display: none;
    }
}

@media(max-width: 768px){
    .navs .bottom-nav .containt {
        position: absolute;
        width: 100%;
        top: 6rem;
        right: 0;
        display: none;
        background-color: var(--main-color);
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem 1rem;
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;
        transition: all .5s ease-in;
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        -ms-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
    }
    .navs .bottom-nav .containt.active {
        display: flex;
        top: 70px;
    }

    .navs .bottom-nav .nav-items {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        padding-bottom: 3rem;
    }
    .navs .bottom-nav .nav-items a,
    .navs .bottom-nav .nav-items li.dropdown .dropdown-btn svg{
        color: white;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
}
    .navs .bottom-nav .nav-items a:hover,
    .navs .bottom-nav .nav-items a.active{
        color: var(--third-color);
    }

    .navs .bottom-nav .menu-icon {
        display: inline-block;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    .navs .bottom-nav .close-bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 26px;
    }
    
}
