.dashboard-header-title {
  font-size:1.6em;
}

.dashboard-header-addbtn {
  font-size:1.1em;
  padding:0.3em;
  background-color:var(--main-color);
  color:#fff;
  display:flex;
  align-items:center;
  gap:0.3em;
  cursor:pointer;
}

.table-container {
  max-height: 350px; 
  overflow-y: auto;  
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
}

.custom-table thead th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); 
}

.custom-table thead {
  background-color: #f4f4f4;
}

.custom-table tr {
  border-bottom: 2px solid #ddd; 
}

.custom-table a {
  color: blue;
  text-decoration: none;
}

.flex-icons a {
  margin-left:0.3em;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard-header-title {
    font-size: 1em;

  }

  .dashboard-header-addbtn {
    font-size: 0.8em;
    padding: 0.2em;
    background-color: var(--main-color);
    color: white;
    
  }

  .custom-table {
    font-size: 0.7em;
    
  }

  .custom-table th,
  .custom-table td {
    padding: 6px;
    
  }

  .flex-icons img {
    width: 18px; /* Slightly reduce icon size on smaller screens */
    height: 18px;
  }

  .flex-icons a {
    margin-left: 0.2em; /* Reduce spacing between icons */
  }
}