.Team {
    position:relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.Team .title span{
    color: var(--main-color);
}
@media (max-width:768px) {
    .Team .title,
    .Team .title span{
        font-size: 33px;
    }
   
}
.Team .but{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}



.teamcard {
    text-align: center;
    padding: 30px 10px;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    width: 325px !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
}
.teamcard:hover{
    box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.teamcard .infoteam{
    color: var(--main-color);
    font-weight: bold;
    padding: 20px 10px 0px;
    border-top: 1px solid #E6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}
.infoteam a{
    color: var(--main-color);
    font-size: 22px;
}
.teamcard .infoteam .infoteam-arrow:hover{
    animation: move 0.4s ease-in-out infinite;
}

.infoteam-arrow {
    color: var(--main-color);
    font-size:1.2em;
    padding-left:50%;
}

@keyframes move {
    100%{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
}
.teamcard .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.teamcard .picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.teamcard .teamname{
    color: var(--main-color);
    font-size: 20px;

}
.teamcard .caption p{
    padding: 20px 10px;
    color: #777;
}

.team-content .slick-dots li.slick-active button:before {
    color: var(--main-color) !important;
}

ul.slick-dots {
    bottom: -40px;
}
.slick-arrow.slick-next{
    background-color: var(--main-color) !important;
    color: white;
    font-weight: bold;
    padding:10px 45px 48px 14px !important;
    margin-right:-30px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.slick-next {
    right: -65px !important;
}

.slick-next::before{
    font-family: "Font Awesome 5 Free" !important;
    opacity: 1000 !important;
    font-size: 33px !important;
}

.team-card-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-card-popup-content {
    width:40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.close-popup-btn {
    font-size: 2.5em;
    font-weight:bold;
    color: var(--main-color);
    text-shadow: 1px 1px 3px var(--second-color);
    animation: closebtn 0.7s ease-in-out 1;
}

.popup-img {
    width:250px;
    height:250px;
    border-radius:20px;
}

.team-card-popup-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.team-card-popup-container-title {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    justify-content:center;
    gap:1em;
}

.team-card-popup-container-title_name {
    color:var(--main-color);
    font-weight:bold;
    font-size:1.5em;
    padding:0.3em 0.7em;
    background-color: #E5E3E3;
    border-radius:30px;
}

.team-card-popup-container-title_position {
    color:#000;
    font-weight:bold;
    font-size:1.2em;
    padding:0.3em 0.7em;
}

.team-card-popup-container-info {
    margin-top:1.5em;
    font-weight:700;
    line-height:1.45;
}

@keyframes closebtn {
    from {
        transform:scale(0);
        opacity:0;
    }
    to {
        transform:scale(1);
        opacity:1;
    }
}